<div class="container-fluid">
  <div class="row">
    <aside class="col-2 border border-dark sidenav">
      <app-filter-bar></app-filter-bar>
    </aside>
    <section class="col-10 container-fluid">
      <div class="row">
        <app-book class="col-3"></app-book>
        <app-book class="col-3"></app-book>
        <app-book class="col-3"></app-book>
        <app-book class="col-3"></app-book>
        <app-book class="col-3"></app-book>
        <app-book class="col-3"></app-book>
        <app-book class="col-3"></app-book>
        <app-book class="col-3"></app-book>
      </div>
      <div class="row">
        <div class="col">
          <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
        </div>
      </div>
    </section>
  </div>
</div>
