<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div width="300px" height="100px"><a routerLink=''><img src="./images/logo.png" alt="Logo Image"></a></div>
  <div>
    <div><a routerLink='login'>Log In</a></div>
    
    
    <div  class="navbar-nav">      
      <a class="nav-item nav-link" routerLink='#'>Some Item</a>
      <a class="nav-item nav-link" routerLink='#'>Some Item</a>
      <a class="nav-item nav-link" routerLink='#'>Some Item</a>
      <a class="nav-item nav-link" routerLink='#'>Some Item</a>
      <a class="nav-item nav-link" routerLink='#'>Some Item</a>      
    </div>
  </div>
</nav>
