<div class="container-fluid">
  <div class="row" style="border:1px solid black; height:100px">
    <div class="col-3" style="border:1px solid #000000">
      <a routerLink=''><img src="//x-studio.com.ua/images/logo.gif" alt="Logo Image" height="100%"></a>
    </div>
    <div class="col-9" style="border:1px solid black; height:100px">
      <div class="container-fluid">
        <div class="row" style="height:50px">
          <div class="col-11">            
            <h1>Some interesting text about BookShop</h1>
          </div>
          <div class="col-1">            
            <a routerLink='login'>Log In</a>
          </div>  
        </div>
        <div class="row" style="border:1px solid black; height:50px">            
              <a class="nav-link" routerLink='#'>Some Item</a>
              <a class="nav-link" routerLink='#'>Some Item</a>
              <a class="nav-link" routerLink='#'>Some Item</a>
              <a class="nav-link" routerLink='#'>Some Item</a>
              <a class="nav-link" routerLink='#'>Some Item</a>            
        </div>    
      </div>
    </div>
  </div>
</div>  