<div class="container-fluid">
  <div class="row">
    <aside class="col-2 border border-dark sidenav">
      <app-filter-bar></app-filter-bar>
    </aside>
    <section class="col-10 ">
      <div class="row">
        <div class="col-3 border border-dark d-flex justify-content-center">
          <img src="{{book.URL}}" alt="Book Image" height="200px">
        </div>
        <div class="col-9 container">
          <div class="row">       
            <div class="col-12">
              <h3>{{book.Title}}</h3>            
            </div> 
          </div>
          <div class="row">
            <div class="col-5">
              <h6 *ngFor="let item of book.Authors; let i=index">by {{book.Authors[i]}}</h6>
              <p>Price: {{book.Price | currency:'USD'}}</p>
              <P>Shipping: {{book.Shipping | currency:'USD'}}</P>
              <p><b>Total price: {{(book.Price + book.Shipping) | currency:'USD'}}</b></p>               
            </div>
            <div class="col-7 container">
              <div class="row">
                <div class="col">
                  <button>Quick Purchase</button>&nbsp;<button>Save for later</button><br><br><button>Add to Basket</button><br>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <p>Rating: <ngb-rating [(rate)]="book.Rating" [readonly]="true" max="5"></ngb-rating> ({{book.Reviews.length}})</p>                
                </div>
                <div class="col-2">
                    <p>ID: {{book.Id}}</p>
                </div>

              </div>            
            </div>           
          </div>          
        </div>
        

        
      </div>
      <hr>
      <div class="row">
        <div class="col">         
          <ngb-tabset>
            <ngb-tab title="Book Annotation">
              <ng-template ngbTabContent>
                <p>{{book.Annotation}}</p>
              </ng-template>
            </ngb-tab>
            <ngb-tab  title="About Author">
              <ng-template ngbTabContent><p>{{book.AboutAuthors}}</p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Reviews">
              <ng-template ngbTabContent>
                <p>Overall rating {{book.Rating}} (Voted {{book.Reviews.length}} users.)</p>
                <hr>
                <p *ngFor="let item of book.Reviews; let i=index">{{book.Reviews[i]['Text']}}</p>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </section>
  </div>
</div>
