<div class="row justify-content-center" [ngStyle]="{'paddingTop': '50px'}">
  <div class="col-4 row">
    <h1>Add new Book</h1>
    <form novalidate [formGroup]="addBookForm" (ngSubmit)="onSubmit()">

      <div class="form-group has-danger" [ngClass]="{
          'has-error': title.invalid && title.dirty,
          'has-success': title.valid && title.dirty }">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title">
      </div>
    
      <div class="form-group" [ngClass]="{
          'has-error': about.invalid && about.dirty,
          'has-success': about.valid && about.dirty }">
        <label>About</label>
        <input type="text" class="form-control" formControlName="about">
      </div>
      
      <div class="form-group" [ngClass]="{
        'has-error': urlImg.invalid && urlImg.dirty,
        'has-success': urlImg.valid && urlImg.dirty }">
        <label>urlImg</label>
        <input type="url" class="form-control" formControlName="urlImg">
      </div>

      <div class="form-group" [ngClass]="{
        'has-error': price.invalid && price.dirty,
        'has-success': price.valid && price.dirty }">
        <label>Price</label>
        <input type="number" class="form-control" formControlName="price">
      </div>

      <div class="form-group" [ngClass]="{
        'has-error': author.invalid && author.dirty,
        'has-success': author.valid && author.dirty }">
        <label>Author</label>
        <input type="text" class="form-control" formControlName="author">
      </div>
    
    
     <!--  <div class="form-group" [ngClass]="{
          'has-error': roles.invalid && roles.dirty,
          'has-success': roles.valid && roles.dirty }">
        <label>roles</label>
        <input type="text" class="form-control" formControlName="roles">
      </div> -->
      <div class="form-group">
          <input type="submit" class="btn btn-primary">
      </div>
    </form>
    
    <br>
    
    <pre>{{addBookForm.value |json}}</pre>
  </div>
</div>