<div class="row justify-content-center" [ngStyle]="{'paddingTop': '50px'}">
  <div class="col-4 row">
    <form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit()">

      <div class="form-group has-danger" [ngClass]="{
          'has-error': userName.invalid && userName.dirty,
          'has-success': userName.valid && userName.dirty }">
        <label>userName</label>
        <input type="text" class="form-control" formControlName="userName">
      </div>
    
      <div class="form-group" [ngClass]="{
          'has-error': password.invalid && password.dirty,
          'has-success': password.valid && password.dirty }">
        <label>password</label>
        <input type="password" class="form-control" formControlName="password">
      </div>
    
    
     <!--  <div class="form-group" [ngClass]="{
          'has-error': roles.invalid && roles.dirty,
          'has-success': roles.valid && roles.dirty }">
        <label>roles</label>
        <input type="text" class="form-control" formControlName="roles">
      </div> -->
      <div class="row d-flex justify-content-between">
        <div class="col-8">
          <p>New to BookShop?  <a routerLink="/sing-up">Sing Up Here</a></p>
        </div>
        <div class="col-4">
          <input type="submit" class="btn btn-primary">
        </div>
      </div>
    </form>
    <!-- 
    <br>
    
    <pre>{{userForm.value |json}}</pre> -->
  </div>
</div>